# linguist overrides
*.cs linguist-language=C#
*.ps1 linguist-language=Powershell
*.psd1 linguist-language=Powershell
*.psm1 linguist-language=Powershell
*.R linguist-language=R
*.sql linguist-language=TSQL
